h1{
    font-family: 'calibri';
}

img{
    width: 17px;
}
button{
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
}

input{
    
    border: 2px solid #000000;
    height: 30px;
    border-radius: 10px;
    width: 100%;
}

.secret{
   
   
}

input:hover{
    border-color: #ff0000;
}
.div{
    border: 2px solid #000000;
}
