body{
    font-family: 'calibri';
    background-color:rgb(194, 202, 196);
    text-decoration: none;
    line-height: var(--wp--custom--typography--line-height--text);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px
}
h1{
    display: flex;
    text-align: center;
}

#header{
    margin-left: 50%;
}

button{
    background-color: rgb(15, 121, 243);
    border: none;
    border-radius: 5px;
    border-bottom: 2px;
    border-top: 2px solid #000000
}

h2{
    color: #000000;
}

#header-a{
    border: 1px solid;
    border-width: 1px;
    width: 20px;
}
header{
    border: 1px solid #000000;
    width: 100%;
}
